.todo-list {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .todo-item {
    background-color: #fffafa00;
    border: 3px solid #ecbf2a;
    border-radius: 8px;
    padding: 16px;
    margin: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 29%;
  }
  
  .todo-item h3 {
    margin: 8px;
    color: #000105;
    text-align: center;
  }
  
  .todo-item p {
    margin: 4px 0;
    color: #555;
  }
  
  .todo-item .date {
    font-size: 0.9em;
    color: #777;
  }
  
  .todo-item .priority {
    font-weight: bold;
    color: #e67e22;
  }
  
  .todo-item .completed {
    font-weight: bold;
    color: #2ecc71;
  }
  
  .todo-item .not-completed {
    font-weight: bold;
    color: #e74c3c;
  }
  .add-todo-form {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .add-todo-form h2 {
    margin-top: 0;
  }
  
  .add-todo-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .add-todo-form input,
  .add-todo-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .add-todo-form button {
    background-color: #28a745;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-todo-form button:hover {
    background-color: #218838;
  }

  .add-button{
  background: linear-gradient(135deg, #e2be4a, #ffd000);
  color: rgb(161, 90, 7);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 12px 24px;
  border: none;
  border-radius: 38px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  justify-content: center;

  }

  .add-button:hover{
    background: linear-gradient(135deg, #e2be4a, #ffd000);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }
  .add-button:active {
    transform: scale(0.95);
  }

  .todoContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .ButtonContainer{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    width: 100%;
  }

  .Title{
    width: 90%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size:200%;
    color: #0e0d0d;
  }

  .deleteContainer{
    text-align: right;
  }

  .delete{
    background: linear-gradient(135deg, #a70505, #ee2a2a);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 12px 12px;
  border: none;
  border-radius: 38px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  
  }

  .delete:hover{
    background: linear-gradient(135deg, #ac0b0b, #bd1818);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}